* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

img {
  max-height: 1200vh;
  border: 0; }

h1 {
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  margin-left: 100px; }

h2 {
  font-size: 30px;
  color: grey;
  text-transform: uppercase;
  margin-left: 100px; }

h3 {
  margin-top: 40px;
  font-size: 25px;
  color: white; }

h4 {
  font-size: 50px; }

h5 {
  margin-top: 40px;
  font-size: 25px;
  color: black;
  margin-left: 50px; }

h6 {
  font-size: 50px;
  margin: 10px 400px;
  padding: 10px;
  text-align: center;
  align-items: center;
  border: 1px solid white; }

h7 {
  font-size: 20px;
  text-align: center;
  align-items: center; }

h9 {
  margin: 10px;
  padding: 10px;
  font-size: 15px; }

@media (max-width: 500px) {
  .container {
    margin: 0 auto;
    min-width: 280px; } }
#wrapper {
  margin: 0 auto 0 auto; }

#banner {
  background-image: url(banner.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh; }

#banner {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400vw; }

#banner .info {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center; }

#section-reviews {
  margin: 10px;
  padding: 100px;
  text-align: center;
  align-items: center;
  max-width: 1000vw; }

#section-reviews .row {
  flex-direction: row;
  background-color: lightgrey;
  max-width: 70%;
  margin: 0;
  text-align: center;
  justify-content: center;
  box-sizing: border-box; }

.section-reviews .row h3 {
  text-align: center;
  box-sizing: border-box; }

#banner {
  background-image: url(banner.jpg);
  background-size: cover;
  background-position: center;
  min-height: 326px; }

#banner .info {
  font-size: 30px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center; }

#banner .info h6 {
  font-size: 24px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid white;
  max-width: 300px;
  text-align: center;
  align-items: center;
  color: white; }

.info2 {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  padding: 8px; }

.info2 h7 {
  font-size: 24px;
  max-width: 1000px;
  color: white; }

#section-reviews {
  margin: 10px;
  padding: 30px 100px;
  text-align: center;
  align-items: center;
  max-width: 1200vw; }

h10 {
  text-align: center;
  font-size: 45px; }

.display-3 {
  max-width: 920px;
  margin: 0 auto; }

h9 {
  margin: 10px;
  padding: 10px;
  font-size: 15px; }

h8 {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 40px;
  float: left; }

p {
  color: black;
  max-width: 920px; }

.audio .embed-responsive {
  max-width: 1200vw;
  align-items: center;
  justify-content: center; }

.audio {
  max-width: 800vh;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px; }

#footer {
  background-image: url(footer.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  text-align: center;
  width: 100%; }

#footer .end {
  margin: 50px auto;
  padding: 70px;
  max-width: 900px;
  text-align: center;
  align-items: center; }

#footer .end h6 {
  font-size: 24px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid white;
  max-width: 300px;
  text-align: center;
  align-items: center;
  color: white; }

#footer .end p {
  font-size: 24px;
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  text-align: center;
  align-items: center;
  color: white; }

#footer .end2 {
  margin: 60px auto;
  padding: 40px;
  text-align: center;
  align-items: center; }

#footer .end2 h12 {
  font-size: 25px;
  margin: 60px auto;
  text-align: center;
  align-items: center;
  color: white; }

#footer .audio .embed-responsive-item {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center; }

@media (min-width: 1400px) {
  #gallery .gallery-text {
    padding: 30px 70px;
    max-height: 100vh;
    max-width: 1400px;
    text-align: center; }

  #gallery {
    max-width: 1400px;
    margin: 0 auto 0 auto;
    background-color: white;
    max-height: 800px;
    padding: 20px;
    justify-content: center;
    align-items: center; }

  #gallery .container {
    margin: 10px 80px 10px 80px;
    padding: 0px 30px;
    max-width: 1200px;
    max-height: 600px; }

  #gallery .row-text {
    width: 1000px;
    margin: 10px 10px 10px 120px;
    height: 10vh;
    padding: 5px; }

  .row-text .title {
    font-size: 30px;
    float: left;
    width: 12%;
    margin: 40px 10px 40px 80px; }

  .row-text .text {
    font-size: 20px;
    float: left;
    width: 60%;
    margin: 40px 40px 40px 20px; }

  #gallery .container .rel {
    position: relative;
    bottom: 34px;
    left: 100px; }

  #gallery .container .rel1 {
    position: relative;
    bottom: -5px;
    left: 87px; }

  #gallery .container .rel2 {
    position: relative;
    bottom: 499px;
    left: 100px; }

  #gallery .container .rel3 {
    position: relative;
    bottom: 632px;
    left: 94px; }

  #gallery .container .rel4 {
    position: relative;
    bottom: 499px;
    right: 92px; }

  #gallery .container .rel5 {
    position: relative;
    bottom: 499px;
    right: 115px; }

  #gallery .container .rel6 {
    position: relative;
    bottom: 500px;
    left: -100px; } }
@media (max-width: 1400px) and (min-width: 1100px) {
  #gallery .row-text {
    width: 100%;
    margin: 0 auto;
    height: 15vh;
    padding: 30px;
    right: 10px; }

  #gallery .row-text .h4 {
    font-size: 25px;
    float: left;
    width: 12%;
    margin: 20px; }

  #gallery .row-text .h5 {
    font-size: 20px;
    float: left;
    width: 80%;
    margin: 10px; }

  #gallery .container {
    margin: 0 auto;
    left: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1000px; }

  #gallery .container .rel {
    position: relative;
    bottom: 60px;
    left: 20px;
    text-align: center;
    align-items: center; }

  #gallery .container .rel1 {
    position: relative;
    bottom: -3px;
    left: 12px; }

  #gallery .container .rel2 {
    position: relative;
    bottom: 70px;
    left: 118px; }

  #gallery .container .rel3 {
    position: relative;
    bottom: 200px;
    left: 110px; }

  #gallery .container .rel4 {
    position: relative;
    bottom: 70px;
    right: 74px; }

  #gallery .container .rel5 {
    position: relative;
    bottom: 70px;
    right: 82px; }

  #gallery .container .rel6 {
    visibility: hidden; } }
@media (max-width: 1100px) and (min-width: 1000px) {
  #gallery .row-text {
    width: 100%;
    margin: 0 auto;
    height: 15vh;
    padding: 30px;
    right: 10px; }

  #gallery .row-text .h4 {
    font-size: 25px;
    float: left;
    width: 12%;
    margin: 20px; }

  #gallery .row-text .h5 {
    font-size: 20px;
    float: left;
    width: 80%;
    margin: 10px; }

  #gallery .container {
    margin: 0 auto;
    left: 20px;
    justify-content: center;
    text-align: center;
    align-items: center; }

  #gallery .container .rel {
    position: relative;
    bottom: 60px;
    left: 20px; }

  #gallery .container .rel1 {
    position: relative;
    bottom: -3px;
    left: 12px; }

  #gallery .container .rel2 {
    position: relative;
    bottom: 70px;
    left: 20px; }

  #gallery .container .rel3 {
    position: relative;
    bottom: 200px;
    left: 14px; }

  #gallery .container .rel4 {
    position: relative;
    bottom: 70px;
    right: 172px; }

  #gallery .container .rel5 {
    position: relative;
    bottom: 70px;
    right: 180px; }

  #gallery .container .rel6 {
    visibility: hidden; } }
@media (max-width: 1000px) and (min-width: 800px) {
  #gallery {
    width: 100%;
    margin: 0 auto;
    height: 820px;
    padding: 30px;
    justify-content: center;
    text-align: center;
    align-items: center; }

  #gallery .row-text {
    width: 800px;
    margin: 0 auto;
    height: 100px;
    padding: 33px; }

  #gallery .row-text .h4 {
    font-size: 22px;
    float: left;
    width: 12%;
    margin: 20px; }

  #gallery .row-text .h5 {
    font-size: 18px;
    float: left;
    width: 70%;
    margin: 10px; }

  #gallery .container {
    margin: 0 auto;
    left: 20px;
    justify-content: center;
    text-align: center;
    align-items: center; }

  #gallery .container .rel {
    position: relative;
    bottom: 60px;
    left: 38px; }

  #gallery .container .rel1 {
    position: relative;
    bottom: -3px;
    left: 30px; }

  #gallery .container .rel2 {
    position: relative;
    bottom: 70px;
    left: 20px; }

  #gallery .container .rel3 {
    position: relative;
    bottom: 200px;
    left: 14px; }

  #gallery .container .rel4 {
    position: relative;
    bottom: 70px;
    right: 172px; }

  #gallery .container .rel5 {
    position: relative;
    bottom: 814px;
    right: -392px; }

  #gallery .container .rel6 {
    visibility: hidden; } }
@media (max-width: 800px) and (min-width: 500px) {
  #gallery {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px 0; }

  #gallery .container img {
    width: 460px;
    display: block;
    margin: 0px;
    height: 420px;
    padding: 20px;
    float: left; }

  #gallery .container {
    width: auto;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; } }
@media (max-width: 500px) {
  #gallery {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px 0; }

  #gallery .row-text {
    width: 260px;
    align-items: center;
    justify-content: center; }

  #gallery .row-text h5 {
    width: 260px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex; }

  #gallery .container {
    max-width: 350px;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0px; }

  #gallery .container img {
    width: 260px;
    display: block;
    height: auto;
    margin: 0px;
    height: 220px;
    padding: 20px; } }
.header {
  background-image: url(header.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto; }

.header .container2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

#to_top .header--text2 {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 200px 120px;
  max-height: 150vh; }

h3 {
  margin: 100px auto 0 auto;
  font-size: 18px;
  color: white; }

h1 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  margin: 5px; }

h2 {
  font-size: 18px;
  color: lightgray;
  text-transform: uppercase;
  margin: 5px; }

h5 {
  font-size: 18px;
  color: #ffffff;
  margin: 5px; }

h4 {
  font-size: 50px; }

.container4 #display-3 {
  margin-left: auto;
  margin-right: auto; }

.container4 p {
  font-size: 24px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto; }

.container4 #display-3 h10 {
  font-size: 45px;
  display: block;
  margin: 20px auto; }

.container4 #display-3 h8 {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 25px; }

#container3 {
  flex-direction: row;
  background-color: lightgrey;
  max-width: 900px;
  margin: 10px auto 70px auto;
  text-align: center;
  justify-content: center;
  display: table;
  width: 90%;
  padding: 8px; }

#container3 h11 {
  font-size: 25px;
  color: black; }

#container3 .statistics1 {
  width: 25%;
  float: left; }

#container3 .statistics2 {
  width: 25%;
  float: left; }

#container3 .statistics3 {
  width: 25%;
  float: left; }

#container3 .statistics4 {
  width: 25%;
  float: left; }

@media (min-width: 1100px) {
  .container4 {
    width: 1050px; }

  #display-3 {
    width: 65%; } }
@media (max-width: 1100px) and (min-width: 1000px) {
  .container4 {
    width: 950px; }

  #display-3 {
    width: 65%; } }
@media (max-width: 1000px) and (min-width: 800px) {
  .container4 {
    width: 750px; }

  #display-3 {
    width: 65%; } }
@media (max-width: 800px) and (min-width: 500px) {
  .container4 {
    width: 450px; }

  #display-3 {
    width: 100%; } }
@media (max-width: 500px) {
  .container4 {
    width: 90%; }

  #display-3 {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
