#banner {
  background-image: url(banner.jpg);
  background-size: cover;
  background-position: center; //	background-attachment: fixed;
  min-height: 100vh;
}

#banner {
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400vw;
}

#banner .info {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
#section-reviews {
  margin: 10px;
  padding: 100px;
  text-align: center;
  align-items: center;
  max-width: 1000vw;
}

#section-reviews .row {
  flex-direction: row; //	text-align: center;
  //	align-items: center; //	max-width: 1000vw;
  background-color: lightgrey;
  max-width: 70%;
  margin: 0;

  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

.section-reviews .row h3 {
  text-align: center;
  box-sizing: border-box;
}

#banner {
  background-image: url(banner.jpg);
  background-size: cover;
  background-position: center;
  min-height: 326px;
}

#banner .info {
  font-size: 30px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#banner .info h6 {
  font-size: 24px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid white;
  max-width: 300px;
  text-align: center;
  align-items: center;
  color: white;
}

.info2 {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  padding: 8px;
}

.info2 h7 {
  font-size: 24px;
  max-width: 1000px;
  color: white;
}

#section-reviews {
  margin: 10px;
  padding: 30px 100px;
  text-align: center;
  align-items: center;
  max-width: 1200vw;
}

h10 {
  text-align: center;
  font-size: 45px;
}

.display-3 {
  max-width: 920px;
  margin: 0 auto;
}

h9 {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}

h8 {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 40px;
  float: left;
}

p {
  color: black;
  max-width: 920px;
}
