.audio .embed-responsive {
  max-width: 1200vw;
  align-items: center;
  justify-content: center;
}

.audio {
  max-width: 800vh;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

#footer {
  background-image: url(footer.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  text-align: center;
  width: 100%;
}

#footer .end {
  margin: 50px auto;
  padding: 70px;
  max-width: 900px;
  text-align: center;
  align-items: center;
}

#footer .end h6 {
  font-size: 24px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid white;
  max-width: 300px;
  text-align: center;
  align-items: center;
  color: white;
}

#footer .end p {
  font-size: 24px;
  margin: 20px auto;
  padding: 20px;
  max-width: 900px;
  text-align: center;
  align-items: center;
  color: white;
}

#footer .end2 {
  margin: 60px auto;
  padding: 40px;
  text-align: center;
  align-items: center;
}

#footer .end2 h12 {
  font-size: 25px;
  margin: 60px auto;
  text-align: center;
  align-items: center;
  color: white;
}

#footer .audio .embed-responsive-item {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}
