@media (min-width: 1400px) {
  #gallery .gallery-text {
    padding: 30px 70px;
    max-height: 100vh;
    max-width: 1400px;
    text-align: center;
  }

  #gallery {
    max-width: 1400px;
    margin: 0 auto 0 auto;
    background-color: white;
    max-height: 800px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  #gallery .container {
    margin: 10px 80px 10px 80px;
    padding: 0px 30px;
    max-width: 1200px;
    max-height: 600px;
  }

  #gallery .row-text {
    width: 1000px;
    margin: 10px 10px 10px 120px;
    height: 10vh;
    padding: 5px;
  }

  .row-text .title {
    font-size: 30px;
    float: left;
    width: 12%;
    margin: 40px 10px 40px 80px;
  }

  .row-text .text {
    font-size: 20px;
    float: left;
    width: 60%;
    margin: 40px 40px 40px 20px;
  }

  #gallery .container .rel {
    position: relative;
    bottom: 34px;
    left: 100px;
  }

  #gallery .container .rel1 {
    position: relative;
    bottom: -5px;
    left: 87px;
  }

  #gallery .container .rel2 {
    position: relative;
    bottom: 499px;
    left: 100px;
  }

  #gallery .container .rel3 {
    position: relative;
    bottom: 632px;
    left: 94px;
  }

  #gallery .container .rel4 {
    position: relative;
    bottom: 499px;
    right: 92px;
  }

  #gallery .container .rel5 {
    position: relative;
    bottom: 499px;
    right: 115px;
  }

  #gallery .container .rel6 {
    position: relative;
    bottom: 500px;
    left: -100px;
  }
}

@media (max-width: 1400px) and (min-width: 1100px) {
  #gallery .row-text {
    width: 100%;
    margin: 0 auto;
    height: 15vh;
    padding: 30px;
    right: 10px;
  }
  #gallery .row-text .h4 {
    font-size: 25px;
    float: left;
    width: 12%;
    margin: 20px;
  }
  #gallery .row-text .h5 {
    font-size: 20px;
    float: left;
    width: 80%;
    margin: 10px;
  }

  #gallery .container {
    margin: 0 auto;
    left: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1000px;
  }

  #gallery .container .rel {
    position: relative;
    bottom: 60px;
    left: 20px;
    text-align: center;
    align-items: center;
  }

  #gallery .container .rel1 {
    position: relative;
    bottom: -3px;
    left: 12px;
  }

  #gallery .container .rel2 {
    position: relative;
    bottom: 70px;
    left: 118px;
  }

  #gallery .container .rel3 {
    position: relative;
    bottom: 200px;
    left: 110px;
  }

  #gallery .container .rel4 {
    position: relative;
    bottom: 70px;
    right: 74px;
  }

  #gallery .container .rel5 {
    position: relative;
    bottom: 70px;
    right: 82px;
  }
  #gallery .container .rel6 {
    visibility: hidden;
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  #gallery .row-text {
    width: 100%;
    margin: 0 auto;
    height: 15vh;
    padding: 30px;
    right: 10px;
  }
  #gallery .row-text .h4 {
    font-size: 25px;
    float: left;
    width: 12%;
    margin: 20px;
  }
  #gallery .row-text .h5 {
    font-size: 20px;
    float: left;
    width: 80%;
    margin: 10px;
  }

  #gallery .container {
    margin: 0 auto;
    left: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  #gallery .container .rel {
    position: relative;
    bottom: 60px;
    left: 20px;
  }

  #gallery .container .rel1 {
    position: relative;
    bottom: -3px;
    left: 12px;
  }

  #gallery .container .rel2 {
    position: relative;
    bottom: 70px;
    left: 20px;
  }

  #gallery .container .rel3 {
    position: relative;
    bottom: 200px;
    left: 14px;
  }

  #gallery .container .rel4 {
    position: relative;
    bottom: 70px;
    right: 172px;
  }

  #gallery .container .rel5 {
    position: relative;
    bottom: 70px;
    right: 180px;
  }
  #gallery .container .rel6 {
    visibility: hidden;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  #gallery {
    width: 100%;
    margin: 0 auto;
    height: 820px;
    padding: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #gallery .row-text {
    width: 800px;
    margin: 0 auto;
    height: 100px;
    padding: 33px;
  }
  #gallery .row-text .h4 {
    font-size: 22px;
    float: left;
    width: 12%;
    margin: 20px;
  }
  #gallery .row-text .h5 {
    font-size: 18px;
    float: left;
    width: 70%;
    margin: 10px;
  }

  #gallery .container {
    margin: 0 auto;
    left: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  #gallery .container .rel {
    position: relative;
    bottom: 60px;
    left: 38px;
  }

  #gallery .container .rel1 {
    position: relative;
    bottom: -3px;
    left: 30px;
  }

  #gallery .container .rel2 {
    position: relative;
    bottom: 70px;
    left: 20px;
  }

  #gallery .container .rel3 {
    position: relative;
    bottom: 200px;
    left: 14px;
  }

  #gallery .container .rel4 {
    position: relative;
    bottom: 70px;
    right: 172px;
  }

  #gallery .container .rel5 {
    position: relative;
    bottom: 814px;
    right: -392px;
  }
  #gallery .container .rel6 {
    visibility: hidden;
  }
}

@media (max-width: 800px) and (min-width: 500px) {
  #gallery {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px 0;
  }
  #gallery .container img {
    width: 460px;
    display: block;
    margin: 0px;
    height: 420px;
    padding: 20px;
    float: left;
  }

  #gallery .container {
    width: auto;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  #gallery {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px 0;
  }
  #gallery .row-text {
    width: 260px;
    align-items: center;
    justify-content: center;
  }
  #gallery .row-text h5 {
    width: 260px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  #gallery .container {
    max-width: 350px;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
    display: block;
    margin: 0px;
  }
  #gallery .container img {
    width: 260px;
    display: block;
    height: auto;
    margin: 0px;
    height: 220px;
    padding: 20px;
  }
}
