* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

img {
  max-height: 1200vh;
  border: 0;
}

h1 {
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  margin-left: 100px;
}

h2 {
  font-size: 30px;
  color: grey;
  text-transform: uppercase;
  margin-left: 100px;
}

h3 {
  margin-top: 40px;
  font-size: 25px;
  color: white;
}

h4 {
  font-size: 50px;
}

h5 {
  margin-top: 40px;
  font-size: 25px;
  color: black;
  margin-left: 50px;
}

h6 {
  font-size: 50px;
  margin: 10px 400px;
  padding: 10px;
  text-align: center;
  align-items: center;
  border: 1px solid white;
}

h7 {
  //	max-width: 1134vw;
  //	padding: 20px;
  //	margin: 30px;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

h9 {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}

@media (max-width: 500px) {
  .container {
    margin: 0 auto;
    min-width: 280px;
  }
}

#wrapper {
  margin: 0 auto 0 auto;
}
