// .header .container {
//   color: white;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.header .header--text2 {
  //	padding-left: 40px;
  //	padding-top: 150px;
}

.header {
  background-image: url(header.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
}

.header .container2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#to_top .header--text2 {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 200px 120px;
  max-height: 150vh;
}

h3 {
  margin: 100px auto 0 auto;
  font-size: 18px;
  color: white;
}

h1 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  margin: 5px;
}

h2 {
  font-size: 18px;
  color: lightgray;
  text-transform: uppercase;
  margin: 5px;
}

h5 {
  font-size: 18px;
  color: #ffffff;
  margin: 5px;
}

h4 {
  font-size: 50px;
}
