.container4 #display-3 {
  margin-left: auto;
  margin-right: auto;
}

.container4 p {
  font-size: 24px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
}

.container4 #display-3 h10 {
  font-size: 45px;
  display: block;
  margin: 20px auto;
}

.container4 #display-3 h8 {
  margin: 10px 0;
  padding: 10px 0;
  font-size: 25px;
}

#container3 {
  flex-direction: row;
  background-color: lightgrey;
  max-width: 900px;
  margin: 10px auto 70px auto;
  text-align: center;
  justify-content: center;
  display: table;
  width: 90%;
  padding: 8px;
}

#container3 h11 {
  font-size: 25px;
  color: black;
}

#container3 .statistics1 {
  width: 25%;
  float: left;
}

#container3 .statistics2 {
  width: 25%;
  float: left;
}

#container3 .statistics3 {
  width: 25%;
  float: left;
}

#container3 .statistics4 {
  width: 25%;
  float: left;
}

@media (min-width: 1100px) {
  .container4 {
    width: 1050px;
  }

  #display-3 {
    width: 65%;
  }
}

@media (max-width: 1100px) and (min-width: 1000px) {
  .container4 {
    width: 950px;
  }

  #display-3 {
    width: 65%;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  .container4 {
    width: 750px;
  }

  #display-3 {
    width: 65%;
  }
}

@media (max-width: 800px) and (min-width: 500px) {
  .container4 {
    width: 450px;
  }

  #display-3 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container4 {
    width: 90%;
  }

  #display-3 {
    width: 100%;
  }
}
